<div class="answers__row answers-mt-15">
    <% options.forEach(function(option) { %>
        <div data-answer="<%- option.value %>" class="answer answer__img-type">
            <p><img src="<%- option.img %>" alt="1">
                <span class="check check-center-bot">
                    <img src="./public/images/approved 1.svg" alt=""></span>
            </p>
            <p class="answer__desc"><%- option.title %></p>
        </div>
        <% }); %>
</div>
<div class="answers__row answers-mt-15">
    <div data-answer="элитный жил.комплекс" class="answer answer__img-type">
        <p>
            <img src="./public/images/Questions/1/фото-4.jpg" alt="4">
            <span class="check check-center-bot">
                <img src="./public/images/approved 1.svg" alt="">
            </span>
        </p>
        <p class="answer__desc">элитный жил.комплекс</p>
    </div>
    <div data-answer="бизнес-центр / офисное здание" class="answer answer__img-type">
        <p><img src="./public/images/Questions/1/фото-5.jpg" alt="5">
            <span class="check check-center-bot">
                <img src="./public/images/approved 1.svg" alt=""></span>
        </p>
        <p class="answer__desc">бизнес-центр / офисное здание</p>
    </div>
    <div data-answer="балкон" class="answer answer__img-type">
        <p><img src="./public/images/Questions/1/фото-6.jpg" alt="6">
            <span class="check check-center-bot">
                <img src="./public/images/approved 1.svg" alt=""></span>
        </p>
        <p class="answer__desc">балкон</p>
    </div>
</div>